*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.container{
    max-width: 1280px;
    margin: auto;
}
.header-right h6{
    font-weight: bold;
    font-size: 16px;
    color: #252432;
}
.header-right h5{
    font-weight: normal;
    font-size: 16px;
    color: #000000;
}
.header-right p{
    font-size: 16px;
    font-weight: normal;
    color: #8987A1;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.banner-content h3{
    font-size: 65px;
    font-weight: bold;
    color: #000000;
}

.banner-content p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: normal;
}
.banner{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 100px;
}
.banner-content{
    width: 50%;
}