* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.header-right h6 {
    font-weight: bold;
    font-size: 16px;
    color: #252432;
}

.header-right h5 {
    font-weight: normal;
    font-size: 16px;
    color: #000000;
}

.header-right p {
    font-size: 16px;
    font-weight: normal;
    color: #8987A1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.banner-content h3 {
    font-size: 65px;
    font-weight: bold;
    color: #000000;
}

.banner-content p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: normal;
}

.banner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 250px;
}

.banner-content {
    /* width: 50%; */
}

.comment h3 {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}

.comment p {
    font-size: 22px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

.comment {
    text-align: center;
}

.plant-content {
    width: 270px;
    text-align: center;
}

.plant-content p {
    font-size: 22px;
    font-weight: 500;
    margin: 20px auto;
}

.plant-content h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 20px auto;
}

.plant-content button {
    width: 270px;
    height: 50px;
    background-color: #E95A08;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.plant {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 70px auto 350px auto;
}

.plant-lover-content h3 {
    font-size: 50px;
    font-weight: bold;
}

.plant-lover-content li {
    font-size: 22px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.plant-lover {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 250px;
}

.plant-lover-content {
    text-align: left;
    padding: 80px;
}

.plant-lover-image {
    position: relative;
}

.badge {
    width: 280px;
    height: 280px;
    position: absolute;
    top: -20%;
    left: 70%;
}

.latest-deals-content {
    position: relative;
    width: 367px;
    height: 202px;
    margin: 10px;
}
.latest-deals-content img{
    border-radius: 14px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 367px;
    height: 202px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 14px;
}
.latest-deals-content-texts h3{
    font-size: 16px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.latest-deals-content-texts p{
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-decoration: underline;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.latest-deals-content-right img{
    border-radius: 14px;
}

.latest-deals-content-right {
    position: relative;
    width: 753px;
    height: 424px;
}
.overlay-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 753px;
    height: 424px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 14px;
}

.latest-deals-content-texts-right h3{
    font-size: 35px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.latest-deals-content-texts-right p{
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.latest-deals{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px auto 250px auto;
}

.join-content-form input{
    width: 644px;
    height: 50px;
    border: none;
}
.join-content-form button{
    width: 186px;
    height: 50px;
    color: white;
    background-color: #E95A08;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
.join-content-form{
    display: flex;
}
.join-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.join-content h3{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}
.join{
    position: relative;
    background-image: url(assets/news-letter-bg.png);
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.joindiv{
    height: 533px;
    width: auto;
}

.footer1{
    font-size: 22px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    width: 360px;
    height: 180px;
}
.footer2{
    width: 150px;
    height: 148px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #6B7280;
    font-size: 16px;
}
.footer3{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    top: 15%;
    right: 1%;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin: 80px auto 180px auto;
}
.footer3d{
    position: relative;
    width: 250px;
    height: 250px;
}
.dn{
    display: none;
}

@media screen and (max-width:768px) {
    .header h6, .header p{
        display: none;
    }  
    .header{
        padding: 0 30px;
    }
    .banner{
        flex-direction: column-reverse;
        margin-bottom: 10px;
    }
    .banner-content{
        padding:  0 30px;
        margin-top: 28px;
    }
    .banner-content p{
        font-size: 14px;
        margin-top: 13px;
    }
    .banner-content h3{
        font-size: 24px;
    }
    .comment h3{
        font-size: 24px;
    }
    .comment p{
        font-size: 14px;
    }
    .comment{
        margin-top: 100px;
    }
    .plant{
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
        justify-items: center;
        margin-top: 15px;
        margin-bottom: 80px;
    }
    .plant-lover{
        flex-direction: column;
        margin-top: 0px;
    }
    .badge{
        display: none;
    }
    .plant-lover-content h3{
        font-size: 24px;
    }
    .plant-lover-content li{
        font-size: 14px;
    }
    .plant-lover-image img{
        width: 358px;
        height: 396px;
    }
}